
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) 
{
	.noBackground
	{
		height:100%;
	}
	.LogoMargin{
			margin-left: 0%;
			margin-right: -50%;
			font-size: 2.1rem;		
	}
	.row
	{
		margin-bottom: 2px !important;
	}
	
	#div1
	{
		/*margin-top:60%;*/
		margin-top:30%;
		opacity: 0.8;
	}
	#div1-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div1-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div1-strip-text
	{
		margin-top:-15px;
		font-size:20px;
		color:#FFFFFF;
	}
	.div1-btn
	{
		width:80px !important; 
		height:80px !important;
	}
	.div1-btn img
	{
		width:80px !important; 
		height:80px !important;
	}
	
	
	
	#div2
	{
		/*margin-top:60%;*/
		margin-top:-5%;
		opacity: 0.8;
	}
	#div2-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div2-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div2-strip-text
	{
		margin-top: -12px;
		font-size: 20px !important;
	}
	#div2-content .row .l1 {
		width: 25% !important;
	}
	#div2-content .row .l1 img{
		width: 50px !important;
		height: 50px !important;
	}
	#div2-content .row .l1 h6{
		font-size:10px !important;
	}
	.div2-btn:hover
	{
		background-color: #C1D5DC;
	}

	#div3
	{
		/*margin-top:60%;*/
		margin-top:20%;
	}
	#div3-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div3-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div3-strip-text
	{
		margin-top: -12px;
		font-size: 18px !important;
	}
	.div3-btn
	{
		width:80px !important; 
		height:80px !important;;
		margin-top:10px;
	}
	.div3-btn img
	{
		width:80px !important; 
		height:80px !important;
	}
	
	
	
	#div4
	{
		/*margin-top:45%;*/
		margin-top:1%;
	}
	#div4-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div4-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div4-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	
	
	
	
	#div5
	{
		/*margin-top:60%;*/
		margin-top:-5%;
	}
	#div5-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div5-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div5-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}		
	#div5-content .row .l1
	{
		width: 25% !important;
	}
	#div5-content .row .l1 img{
		width: 50px !important;
		height: 50px !important;
	}
	#div5-content .row .l1 h6{
		font-size:10px !important;
	}
	.div5-btn-1:hover
	{
		background-color: #C1D5DC;
	}
	.div5_selected_color
	{
		background-color: #C1D5DC;
	}
	
	
	
	
	
	#div6
	{
		/*margin-top:60%;*/
		margin-top:10%;
	}
	#div6-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div6-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div6-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	#div6-content .row .l2
	{
		width: 33% !important;
	}
	.div6-content-img
	{
		width:80px !important;
	}
	#div6-content .row .l2:hover
	{
		background-color: #b8e2af;
	}
	
	
	#div7
	{
		/*margin-top:60%;*/
		margin-top:30%;
	}
	#div7-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div7-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div7-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	.div7-content-img
	{
		width:80px !important;
	}
	.div7-btn:hover
	{
		background-color:#7eb4c7;
	}
	
	
	
	#div8
	{
		/*margin-top:60%;*/
		margin-top:30%;
	}
	#div8-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div8-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div8-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	
	
	
	
	#div9
	{
		/*margin-top:50%;*/
		margin-top:1%;
	}
	#div9-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div9-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div9-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	#months-div
	{
		margin-top:20px;
	}
	#days-div
	{
		margin-top:20px;
	}
	#days-div-row
	{
		margin-left:-20px;
	}
	
	
	
	#div10
	{
		/*margin-top:60%;*/
		margin-top:30%;
	}
	#div10-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div10-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div10-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	.div10-btn
	{
		width:80px !important; 
		height:80px !important;
		margin-top:10px;
	}
	.div10-btn img
	{
		width:80px !important; 
		height:80px !important;
	}
	
	
	
	#div11
	{
		/*margin-top:60%;*/
		margin-top:20%;
	}
	#div11-strip
	{
		height:10px;
		background-repeat:no-repeat;
	}
	#div11-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div11-strip-text
	{
		margin-top:-12px;
		font-size:18px !important;
		color:#FFFFFF !important;
	}
	
	
	
	#div12
	{
		/*margin-top:60%;*/
		margin-top:1%;
	}
	#div12-strip
	{
		height:50px;
		background-repeat:no-repeat;
	}
	#div12-content
	{
		margin-top:-15px;
		height:auto;
	}
	#div12-strip-text
	{
		margin-top:-20px;
		font-size:25px !important;
		color:#FFFFFF !important;
	}
	.phonenumber
	{
		font-size: 25px;
		cursor:pointer;
	}
	#phonenumber-div .l3
	{
		height: 35px !important;
		color: #FFFFFF !important;
		margin: 3px;
		width: 30% !important;
	}
	#mobilenumberdiv
	{
		height:40px;
		font-size:25px;
		background-color:#cbdccb;
	}
	#phone-row
	{
		margin-top:1%;
	}
}
