/* Space class Start */
.Space1{height:1px !important;}
.Space2{height:2px !important;}
.Space3{height:3px !important;}
.Space4{height:4px !important;}
.Space5{height:5px !important;}
.Space6{height:6px !important;}
.Space7{height:7px !important;}
.Space8{height:8px !important;}
.Space9{height:9px !important;}
.Space10{height:10px !important;}
.Space15{height:15px !important;}
.Space20{height:20px !important;}
.Space25{height:25px !important;}
.Space30{height:30px !important;}
.Space35{height:35px !important;}
.Space40{height:40px !important;}
.Space45{height:45px !important;}
.Space50{height:50px !important;}
.Space55{height:55px !important;}
.Space60{height:60px !important;}
.Space65{height:65px !important;}
.Space70{height:70px !important;}
.Space75{height:75px !important;}
.Space80{height:80px !important;}
.Space85{height:85px !important;}
.Space90{height:90px !important;}
.Space95{height:95px !important;}
.Space100{height:100px !important;}
.Space105{height:105px !important;}
.Space110{height:110px !important;}
.Space115{height:115px !important;}
.Space120{height:120px !important;}
.Space125{height:125px !important;}
.Space130{height:130px !important;}
.Space135{height:135px !important;}
.Space140{height:140px !important;}
.Space145{height:145px !important;}
.Space150{height:150px !important;}
.Space155{height:155px!important;}
.Space160{height:160px !important;}
.Space165{height:165px !important;}
.Space170{height:170px !important;}
.Space175{height:175px !important;}
.Space180{height:180px !important;}
.Space185{height:185px !important;}
.Space190{height:190px !important;}
.Space195{height:195px !important;}
.Space200{height:200px;}
/* Space class  End */
/* Margin class  Start in Pixel*/
.elemMarginPx1{margin:1px !important;}
.elemMarginPx2{margin:2px !important;}
.elemMarginPx3{margin:3px !important;}
.elemMarginPx4{margin:4px !important;}
.elemMarginPx5{margin:5px !important;}
.elemMarginPx6{margin:6px !important;}
.elemMarginPx7{margin:7px !important;}
.elemMarginPx8{margin:8px !important;}
.elemMarginPx9{margin:9px !important;}
.elemMarginPx10{margin:10px !important;}
.elemMarginPx15{margin:15px !important;}
.elemMarginPx20{margin:20px !important;}
.elemMarginPx25{margin:25px !important;}
.elemMarginPx30{margin:30px !important;}
.elemMarginPx35{margin:35px !important;}
.elemMarginPx40{margin:40px !important;}
.elemMarginPx45{margin:45px !important;}
.elemMarginPx50{margin:50px !important;}
.elemMarginPx55{margin:55px !important;}
.elemMarginPx60{margin:60px !important;}
.elemMarginPx65{margin:65px !important;}
.elemMarginPx70{margin:70px !important;}
.elemMarginPx75{margin:75px !important;}
.elemMarginPx80{margin:80px !important;}
.elemMarginPx85{margin:85px !important;}
.elemMarginPx90{margin:90px !important;}
.elemMarginPx95{margin:95px !important;}
.elemMarginPx100{margin:100px !important;}
/* Margin class  Start in Percent */
.elemMarginPt1{margin:1% !important;}
.elemMarginPt2{margin:2% !important;}
.elemMarginPt3{margin:3% !important;}
.elemMarginPt4{margin:4% !important;}
.elemMarginPt5{margin:5% !important;}
.elemMarginPt6{margin:6% !important;}
.elemMarginPt7{margin:7% !important;}
.elemMarginPt8{margin:8% !important;}
.elemMarginPt9{margin:9% !important;}
.elemMarginPt10{margin:10% !important;}
.elemMarginPt15{margin:15% !important;}
.elemMarginPt20{margin:20% !important;}
.elemMarginPt25{margin:25% !important;}
.elemMarginPt30{margin:30% !important;}
.elemMarginPt35{margin:35% !important;}
.elemMarginPt40{margin:40% !important;}
.elemMarginPt45{margin:45% !important;}
.elemMarginPt50{margin:50% !important;}
.elemMarginPt55{margin:55% !important;}
.elemMarginPt60{margin:60% !important;}
.elemMarginPt65{margin:65% !important;}
.elemMarginPt70{margin:70% !important;}
.elemMarginPt75{margin:75% !important;}
.elemMarginPt80{margin:80% !important;}
.elemMarginPt85{margin:85% !important;}
.elemMarginPt90{margin:90% !important;}
.elemMarginPt95{margin:95% !important;}
.elemMarginPt100{margin:100% !important;}
/* Margin class  End */
/* FullWidth class  Start */
.FullWidth100{width:100% !important;}
/* FullWidth class  End */
/* Col-md class  Start */
.col-md-13{width:110% !important;}
.col-md-14{width:120% !important;}
.col-md-15{width:130% !important;}
.col-md-16{width:140% !important;}
.col-md-17{width:150% !important;}
.col-md-18{width:160% !important;}
.col-md-19{width:170% !important;}
.col-md-20{width:180% !important;}
/* Col-md class  End */
/* Text Center class  Start */

/* Text Center class  Start */
/* body{
	overflow-y:hidden !important;
	margin:0px !important;
	width:100%;
    height:100%;
    background-image: url(../images/who-are-you-bg.jpg) center center no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
	} */
html, body{height:100%;}


body
{
	margin:0px;
	padding:0px;
	/*overflow-y:hidden;*/
	overflow-x:hidden;
}
.banner{
	   
}

nav {
    background-color: #fff !important;
}
.LogoMargin{
		/*margin-left: 260%;*/
		font-size: 2.1rem;		
}
.BackgroundImg{
		width:100% !important;
		height:100% !important;
		background-color: #000; 		 
		background-repeat: no-repeat; background-position: center center;
		background-attachment: fixed; 
		webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;  
	}	

/* Div Css Start */
.SlideDivOpacity{opacity:0.9 !important;}

/* Div Css End */



input::-webkit-input-placeholder {
color: black !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
input:-ms-input-placeholder {  
color: black !important;  
}
















#div1
{
	margin-top:30%;
}
#div1-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div1-content
{
	margin-top:-15px;
	height:200px;
}
#div1-strip-text
{
	margin-top:-13px;
	font-size:35px;
	color:#FFFFFF;
}
.div1-btn
{
	width:111px !important; 
	height:111px !important;
	margin-top:10px;
}
.div1-btn img
{
	width:111px !important; 
	height:111px !important;
}
#div1-msg
{
	margin-top:8%;
}


#div2
{
	margin-top:15%;
}
#div2-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div2-content
{
	margin-top:-15px;
	height:300px;
}
#div2-strip-text
{
	margin-top:-13px;
	font-size:35px !important;
	color:#FFFFFF !important;
}		
#div2-content .row .l1
{
	width: 12.5% !important;
}
.div2-btn:hover
{
	background-color: #C1D5DC;
}
#div2-msg
{
	margin-top:8%;
}


#div3
{
	margin-top:30%;
}
#div3-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div3-content
{
	margin-top:-15px;
	height:200px;
}
#div3-strip-text
{
	margin-top:-13px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
.div3-btn
{
	width:111px !important; 
	height:111px !important;
	margin-top:10px;
}
.div3-btn img
{
	width:111px !important; 
	height:111px !important;
}
#div3-msg
{
	margin-top:8%;
}




#div4
{
	margin-top:25%;
}
#div4-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div4-content
{
	margin-top:-15px;
	height:350px;
}
#div4-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div4-msg
{
	margin-top:8%;
}



#div5
{
	margin-top:20%;
}
#div5-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div5-content
{
	margin-top:-15px;
	height:360px;
}
#div5-strip-text
{
	margin-top:-25px;
	font-size:35px !important;
	color:#FFFFFF !important;
}		
#div5-content .row .l1
{
	width: 12.5% !important;
}
.div5-btn-1:hover
{
	background-color: #C1D5DC;
}
.div5_selected_color
{
	background-color: #C1D5DC;
}
#div5-msg
{
	margin-top:8%;
}




#div6
{
	margin-top:25%;
}
#div6-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div6-content
{
	margin-top:-15px;
	height:200px;
}
#div6-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div6-content .row .l2
{
	width: 20% !important;
}
.div6-content-img
{
	width:110px;
}
#div6-content .row .l2:hover
{
	background-color: #b8e2af;
}
#div6-msg
{
	margin-top:8%;
}

#div7
{
	margin-top:25%;
}
#div7-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div7-content
{
	margin-top:-15px;
	height:250px;
}
#div7-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
.div7-content-img
{
	width:160px;
}
.div7-btn:hover
{
	background-color:#7eb4c7;
}
#div7-msg
{
	margin-top:8%;
}


#div8
{
	margin-top:25%;
}
#div8-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div8-content
{
	margin-top:-15px;
	height:200px;
}
#div8-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div8-msg
{
	margin-top:8%;
}


#div9
{
	margin-top:15%;
}
#div9-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div9-content
{
	margin-top:-15px;
	height:450px;
}
#div9-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div9-msg
{
	margin-top:8%;
}


#div10
{
	margin-top:25%;
}
#div10-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div10-content
{
	margin-top:-15px;
	height:200px;
}
#div10-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
.div10-btn
{
	width:111px !important; 
	height:111px !important;
	margin-top:10px;
}
.div10-btn img
{
	width:111px !important; 
	height:111px !important;
}
#div10-msg
{
	margin-top:8%;
}


#div11
{
	margin-top:25%;
}
#div11-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div11-content
{
	margin-top:-15px;
	height:330px;
}
#div11-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div11-msg
{
	margin-top:8%;
}

#div12
{
	margin-top:10%;
}
#div12-strip
{
	height:50px;
	background-repeat:no-repeat;
}
#div12-content
{
	margin-top:-15px;
	height:450px;
}
#div12-strip-text
{
	margin-top:-20px;
	font-size:25px !important;
	color:#FFFFFF !important;
}
#div12-msg
{
	margin-top:8%;
}
.phonenumber
{
	font-size: 25px;
	cursor:pointer;
}
#phonenumber-div .l3
{
	height: 35px !important;
    color: #FFFFFF !important;
    margin: 3px;
    width: 30% !important;
}
#mobilenumberdiv
{
	/* height:40px;
	font-size:25px; */
	background-color:#cbdccb;
}

#mobile_num
{
	font-size:20px;
}
#phone-row
{
	margin-top:30%;
}


.validation_msg
{
	color:#FF0000;
}
