/* Space class Start */
.Space1{height:1px !important;}
.Space2{height:2px !important;}
.Space3{height:3px !important;}
.Space4{height:4px !important;}
.Space5{height:5px !important;}
.Space6{height:6px !important;}
.Space7{height:7px !important;}
.Space8{height:8px !important;}
.Space9{height:9px !important;}
.Space10{height:10px !important;}
.Space11{height:11px !important;}
.Space12{height:12px !important;}
.Space13{height:13px !important;}
.Space14{height:14px !important;}
.Space15{height:15px !important;}
.Space15{height:15px !important;}
.Space20{height:20px !important;}
.Space25{height:25px !important;}
.Space30{height:30px !important;}
.Space35{height:35px !important;}
.Space40{height:40px !important;}
.Space45{height:45px !important;}
.Space50{height:50px !important;}
.Space55{height:55px !important;}
.Space60{height:60px !important;}
.Space65{height:65px !important;}
.Space70{height:70px !important;}
.Space75{height:75px !important;}
.Space80{height:80px !important;}
.Space85{height:85px !important;}
.Space90{height:90px !important;}
.Space95{height:95px !important;}
.Space100{height:100px !important;}
.Space105{height:105px !important;}
.Space110{height:110px !important;}
.Space115{height:115px !important;}
.Space120{height:120px !important;}
.Space125{height:125px !important;}
.Space130{height:130px !important;}
.Space135{height:135px !important;}
.Space140{height:140px !important;}
.Space145{height:145px !important;}
.Space150{height:150px !important;}
.Space155{height:155px!important;}
.Space160{height:160px !important;}
.Space165{height:165px !important;}
.Space170{height:170px !important;}
.Space175{height:175px !important;}
.Space180{height:180px !important;}
.Space185{height:185px !important;}
.Space190{height:190px !important;}
.Space195{height:195px !important;}
.Space200{height:200px;}
/* Space class  End */
/* Margin class  Start in Pixel*/
.elemMarginPx1{margin:1px !important;}
.elemMarginPx2{margin:2px !important;}
.elemMarginPx3{margin:3px !important;}
.elemMarginPx4{margin:4px !important;}
.elemMarginPx5{margin:5px !important;}
.elemMarginPx6{margin:6px !important;}
.elemMarginPx7{margin:7px !important;}
.elemMarginPx8{margin:8px !important;}
.elemMarginPx9{margin:9px !important;}
.elemMarginPx10{margin:10px !important;}
.elemMarginPx15{margin:15px !important;}
.elemMarginPx20{margin:20px !important;}
.elemMarginPx25{margin:25px !important;}
.elemMarginPx30{margin:30px !important;}
.elemMarginPx35{margin:35px !important;}
.elemMarginPx40{margin:40px !important;}
.elemMarginPx45{margin:45px !important;}
.elemMarginPx50{margin:50px !important;}
.elemMarginPx55{margin:55px !important;}
.elemMarginPx60{margin:60px !important;}
.elemMarginPx65{margin:65px !important;}
.elemMarginPx70{margin:70px !important;}
.elemMarginPx75{margin:75px !important;}
.elemMarginPx80{margin:80px !important;}
.elemMarginPx85{margin:85px !important;}
.elemMarginPx90{margin:90px !important;}
.elemMarginPx95{margin:95px !important;}
.elemMarginPx100{margin:100px !important;}
/* Margin class  Start in Percent */
.elemMarginPt1{margin:1% !important;}
.elemMarginPt2{margin:2% !important;}
.elemMarginPt3{margin:3% !important;}
.elemMarginPt4{margin:4% !important;}
.elemMarginPt5{margin:5% !important;}
.elemMarginPt6{margin:6% !important;}
.elemMarginPt7{margin:7% !important;}
.elemMarginPt8{margin:8% !important;}
.elemMarginPt9{margin:9% !important;}
.elemMarginPt10{margin:10% !important;}
.elemMarginPt15{margin:15% !important;}
.elemMarginPt20{margin:20% !important;}
.elemMarginPt25{margin:25% !important;}
.elemMarginPt30{margin:30% !important;}
.elemMarginPt35{margin:35% !important;}
.elemMarginPt40{margin:40% !important;}
.elemMarginPt45{margin:45% !important;}
.elemMarginPt50{margin:50% !important;}
.elemMarginPt55{margin:55% !important;}
.elemMarginPt60{margin:60% !important;}
.elemMarginPt65{margin:65% !important;}
.elemMarginPt70{margin:70% !important;}
.elemMarginPt75{margin:75% !important;}
.elemMarginPt80{margin:80% !important;}
.elemMarginPt85{margin:85% !important;}
.elemMarginPt90{margin:90% !important;}
.elemMarginPt95{margin:95% !important;}
.elemMarginPt100{margin:100% !important;}
/* Margin class  End */
/* FullWidth class  Start */
.FullWidth100{width:100% !important;}
/* FullWidth class  End */
/* Col-md class  Start */
.col-md-13{width:110% !important;}
.col-md-14{width:120% !important;}
.col-md-15{width:130% !important;}
.col-md-16{widthth:140% !important;}
.col-md-17{width:150% !important;}
.col-md-18{width:160% !important;}
.col-md-19{width:170% !important;}
.col-md-20{width:180% !important;}
/* Col-md class  End */
body{overflow-x:hidden;}
.loaded{background-color:#DCDCDC !important;}
		.addcolor{color: #00bcd4;}
		.header-bg{background-color:#F6F9F9 !important;}
		.filter-bg{background-color: #fff;}
		.header-right-icon{color:#3C4A49 !important;}
		.logoClor{color:#247DEC !important;}
		.logoClor1{color:#36F500 !important;}
		.HeaderDigitBg{background-color:#EDF2F2;}
		.HeaderBg{background-color:#DFE6E5;}
		.customBorder{
			border-right:  1px solid #DFE6E5;
			border-bottom: 1px solid #DFE6E5;
			border-top: 1px solid #DFE6E5;
			}
		div.HeaderDigitBg:hover {
			background-color:#fff;
			border-right:  2px solid #fff;
			border-bottom: 2px solid #fff;
			border-top: 2px solid #fff;
			}
			.status2{color:#F00000;}
			.status3{color:#35F500;}
			.Space10{height:10px;}
			.Space6{height:6px;}
		.cyan1 {
			background-color: #E7E7E7 !important;
		}
		.strong{color:#515352 !important;}
		.cyan2 {
			background-color: #009688  !important;
		}
		.NameLable{font-size:14px !important; font-weight:500;color:#3C4B4A !important;float:left;}
		input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
			background-color: None !important; 
			border: 1px solid #AABBBA !important; 
			height: 3rem; 
			width: 100%; 
			height: 25px;
			font-size: 1rem;
			margin: 0 0 15px 0;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
		}
		.customBorder{
		border-right:  1px solid #9C9C9C;
		border-left:  1px solid #9C9C9C;
		border-bottom: 1px solid #9C9C9C;
		border-top: 1px solid #9C9C9C;
		}
		.Space23{height:23px;}
		.cust-cursor{cursor:pointer;}
		
		p.step {
		color:#64FFDA;
		}
		.number-font{font-size: 20px;}
		.number-color{color:#247DEC; font-weight:700;}
		.number-color-red{color:#E11D25;}
		table, th, td {
		   border: 2px solid #FFFFFF !important;
		   color:#000000 !important;
		}
		.uniname{clocr:#3A4A49 !important;}
		.date{color:#96AAA9;}
		.universityBG{background: #fff !important;}
		.unimainBG{background: ##DFE6E5 !important;}
		.uniname{clocr:#3A4A49 !important;}
		.unimainheader{background: #ffffff !important;}
		.addStream{
			background-color:#FFCD92 !important; 
			color:#ffffff !important;
			padding: 5px;			
		  }
		.imgCourseAdd{
			height: 30px;
			line-height: 30px;
			}	
		.Ucontentcolor{color:#5DE3DB !important; font-size:16px !important;}
		.Ustory{border: 1px solid #A6B8B7 !important;}
		.Ustory-add{
			margin-left: 125px;
			margin-right: -125px;
			margin-top: 10px;
			margin-bottom: -10px;}
		.Ustory-add-field{
			margin-left: 125px;
			margin-right: -125px;
			margin-top: 10px;
			margin-bottom: -10px;}
		.Uhide{color:#ffffff !important;}
		.up-img{margin-top: 23px;}
		
		label {
		font-size: 0.9rem !important;
		}
		.addFormBtnColor{background-color: #257EEC !important;}
		.student-form-border{border: 1px solid #A6B8B7 !important;}	
		.text-lowercase{text-transform:none !important;}
		.btnadd{letter-spacing: .0px !important;}
		
		.tab1{color:#37E88F !important;}
		.tab2{color:#1C0099 !important;}
		.tab3{color:#FF575A !important;}
		.input-field {
		position: relative;
		margin-top: 0rem !important;
		}
		
		input::-webkit-input-placeholder {
			font-size: 13px !important;
			line-height: 2;
			color: #000000 !important;
		}
		.unpublish{
	background-color:#EF0000 !important; 
	color:#ffffff !important; 
	padding: 5px;
	}
.publish{
	background-color:#38E98F !important; 
	color:#ffffff !important; 
	padding: 5px;
	}
	

	.liSpan{
	margin-left: 16px;
    margin-right: -16px;
	}
.bulletC{
	width:40px !important;
	height:40px; 
	padding:5px;
	margin-left:10px !important;
	margin-right:-10px !important;
	}
	
	.no-padding-origin
	{
		padding-left:0px !important;
		padding-right:0px !important
	}
.bulletli{
	width:100% !important;
	background-color: #FF575A !important;
    border-bottom: 2px solid #67797A !important;
	color:#ffffff !important;
	text-decoration:none !important;
}
.side-span{width:100% !important;
	color:#ffffff !important;
	text-decoration:none !important;
	}
.side-span:hover{
	color:#FF575A !important;
	text-decoration:none !important;
}
.bulletli:hover{
	background-color: #ffffff !important;
	color:#FF575A !important;
	text-decoration:none !important;
}
.side-span{width:100% !important;
	color:#ffffff !important;
	text-decoration:none !important;
	}
.side-span:hover{
	color:#FF575A !important;
	text-decoration:none !important;
}
.bulletli:hover{
	background-color: #ffffff !important;
	color:#FF575A !important;
	text-decoration:none !important;
}
.sidedivBG{background-color: #67797A !important;}
.sideSpan{padding-left: 18px;
    padding-right: -18px;}
.sideImg{margin-top: 16px;}	
.sideIcon{margin-top: 3%;}
/* university Page Css Start*/
.university-bg{background-color:#E8EFED;}
.inner-container{
	margin-left: 30px !important;
    margin-right:30px !important;
	}
.university-card{padding: -1px 0rem !important;}
.white-bg{background-color:#ffffff;}
.utext-right{text-align: right;}
.uabout-colg-para{margin-left: -60px !important;
    margin-top: -15px;
  }
  .utext-color{color:#5E7071;    font-size: 20px;}
  .utext-color-percent{color:#267EEE;     font-size: 20px;}
  .card-custom {
    margin: 0.4rem 0 0.4rem 0 !important;
}
.location-p{font-size: 14px !important;
    color:#B1AFB0;}
hr { background-color: #B1AFB0; }
.border-course{border-bottom: 2px solid #67797A !important;}
.utitle-img{padding: 9px !important;}
.utitle-name{color: #4580B8;font-size:18px;}
.ucourse-details{border-right:  1px solid #ACBDBC;
				border-bottom: 1px solid #ACBDBC;
				border-top: 1px solid #ACBDBC;
				border-left:  1px solid #ACBDBC;
				background-color:#F6F7F9;
				color:#4580B8
				}
.ucourse-details1{border-right:  1px solid #ACBDBC;
				border-bottom: 1px solid #ACBDBC;
				border-top: 11px solid #ACBDBC;
				border-left:  1px solid #ACBDBC;
				background-color:#F6F7F9;
				color:#4580B8
				}
.inner-title{color:#4580B8;font-size:18px;border-bottom: 1px solid #E1E2E4}	
.ustar{border-bottom: 1px solid #E1E2E4;margin-top: 5px;}	
.ureview{border-bottom: 1px solid #E1E2E4;margin-top: 5px;}	
.course-icons{padding:0 0rem !important;color:#5D6F71;font-size:14px;font-weight:500}
.show-more{color:#F26223;}	
.apply-now{padding: 3px !important;color:#ffffff;font-size:14px;font-weight:500; background-color:#F26223 !important;}
.banner{z-index:-10;}
.banner-colg-name{z-index:0;margin: -8% auto auto auto;}
.colg-name-div{background-color:#4D7AA6;opacity: 0.9;}
.banner-title-name{color:#ffffff}
.banner-addres{;margin-left: -15px !important;margin-right: 15px;}
.banner-width{width:1366px !important;}
.similer-college-view{font-size: 11px;}
.similer-college-bg{background-color:#2A9885;opacity: 0.7;}
/* university Page Css End*/

/*student css Start*/
.switch-tab1{margin-bottom:0px !important;}
.switch-tab2{height: 29px;}
.switch-tab3{cursor:pointer;}
.switch-tab4{height: 29px; }
.switch-tab5{margin-bottom:0px !important;font-size:14px;}
.switch-tab6{margin-bottom:0px !important;font-size:14px;}
.TopDivF{font-size:14px;font-weight:500;}
.topBG{color:#00bcd4;}
.Top-uni-name-span{font-size:12px !important;color:#00bcd4;}
.clgColor{ color:#00bcd4;}
.student-application-status-text{color:#78787A; font-size:12px;}
.student-row-br-color{border-bottom:1px solid #78787A;}
.side-ditted-line{
	 border-bottom: 1px dotted #000; 	
}


.student-application-status{color:#78787A; font-size:14px;}
.student-application-status-date{color:#8CA8D0; font-size:12px;}
.feespaid {
    background-color: #38E98F !important;
    color: #ffffff !important;
    padding: 5px;
}
.feesbalance {
    background-color: #F04824 !important;
    color: #ffffff !important;
    padding: 5px;
}
.dotted-line-img{margin-left: -14px !important;}
.student-admission-done{color:#36F500;}
.shortlist-margin{margin-left: -40px;}
.applied-margin{margin-left: -10px;}

/*New  css Start 04 august*/
/*.header-search-wrapper i {
    top: 10px !important;
    left: 44% !important;
}
.header-search-wrapper {
    margin: 4px auto 0 240px !important;
    width: 60% !important;
}*/
.side-nav {width: 250px !important;}
input.header-search-input {
    border: 1px solid #ffffff !important;
    background-color: #ffffff !important;
	height:12px !important;
	}
.side-menu-top-line{
    height: 2px;
    overflow: hidden;
    background-color: #628DC2;
}
.side-nav a:hover {
    
	color:black;
}
ul.side-nav.leftside-navigation li.active>a {
	color:#ffffff;
}
ul.side-nav.leftside-navigation li.active {
   background-color: #1874B3 !important;
	color:#ffffff;
}
.side-li-text {
    margin: -27% auto auto 20%;
}
.btn-floating {
	color: #fff !important;
	background-color:#212121 !important;
	}
.btn-floating i {
    color: #fff !important;
	}
.tabs{background-color: #EBECEE !important;}
.tabs .indicator {background-color: #1A74B2 !important;}
.tabs .tab a {color: #1A74B2 !important;}
.select-dropdown{height: 2rem !important;}
.upload-btn{
		height: 2rem !important;
		line-height: 2rem !important;
		letter-spacing: .0px !important;
		padding: 0 1.3rem !important;
		height: 30px !important;
		line-height: 30px !important;
		background-color:#1A74B2 !important;
		}
.btn-form-submit{background-color:#1A74B2 !important;}
.submit-button{background-color:#28AE4B !important;}
.about-university-margin{margin-left: 25px !important;margin-right: -25px !important;}	
.university-profile-card{
	background-color:#EBECEE !important;
	color:#444444 !important;
	padding: 9px !important;
	}
.university-profile-card-active{
	background-color:#1A74B2 !important;
	color:#ffffff !important;
}
.academy-profile-margin{margin-top: -15%;margin-left: 20%;}
.progress {
    height: 15px !important;
    background-color: #000 !important;
    border-radius: 0px !important;
    margin: 0.5rem 0rem 1rem -1rem !important;
	}
.progress .determinate {background-color: #28AE4B !important;}
.progressbar-bg{background-color:#EBECEE;}
.profile-complete{padding-top:4px !important;}
.row-margin-bottom{margin-bottom:4px !important;}
.row-margin-bottom5{margin-bottom:5px !important;}
.row-margin-bottom10{margin-bottom:10px !important;}
.row-margin-bottom15{margin-bottom:15px !important;}
.progress-bar{height: 30px !important;margin-top: 2% !important;}
.inner-progress-bar{height:-6px;}
.mobile-magin-progress-bar{margin-top: 30px;}
.admission-form-heading-margin{margin-top: -2%;margin-left: 20%;}
.admission-form-add-fields{background-color:#00E676 !important; color:#ffffff !important;}		
.btn-admission-field{padding: 0 1rem !important;letter-spacing: 0px !important;    margin-top: 8px !important;}		
.change-color:hover{color:#ffffff;}		
.card-admission-form{margin: 0.5rem 2rem 1rem 2rem !important;}
.university-profile-card:hover{color:#ffffff !important;background-color:#1774B1 !important;}	
.upm-table-head-bg{
	background-color: #606062 !important;
	color:#FFFFFF !important;
	padding: 15px 5px !important;
	}
.upm-table-content-bg{background-color: #F6F7F9 !important; color:#606062 !important;}
.upm-table-no-bg{background-color: #E7E7E7 !important; color:#606062 !important;}
.up-save-btn{background-color:#28AE4B !important;}
.main-card-top{margin-top: -8px;}
.admission-tracker-card{
	background-color:#EBECEE !important;
	color:#444444 !important;
	padding: 23px !important;
	}
.admission-tracker-no-card{
	background-color:#EBECEE !important;
	color:#444444 !important;
	padding: 9px !important;
	}
.at-cards{font-size:20px;color:#1973B1;}
.at-text-color{color:#1973B1 !important;}
.at-no-weight{font-weight:700}	
.space24{height:24px;color:#28AE4D;}
.admission-tracker-active{background-color:#ffffff !important;}	
.at-table-img-text{margin: -7% -30% auto 10%;}
.at-table-image{margin-top:-5px;}
.at-table-align{height:50px;padding-top: 10px !important;border: 3px solid #ffffff;}
.at-table-row{margin-bottom: 1px !important;}
.space22{height:22px;}
.at-digit-red{color:#CC3338 !important;}
.btn-add-infra{
	background-color: #1A74B2 !important;
	float: right;
	margin-top: -15px;
	line-height: 30px !important;
	height: 28px !important;
	margin-bottom: 15px;
	}
.uap-infra-text{color:#444444;font-size:16px;}	
.uap-infra-selected{border: 3px solid #E8E8E8;
    height: 280px;}
.apphoto-border-bg{background-color:#DCDCDC;border:1px solid #BABBBD;}
.ap-title{font-size:18px;}
.ap-add-phpto{color:#2A7CB3;font-size:16px;font-weight:700;}
.ap-add-pic{background-color:#fff;}
.ap-add-pic-text{font-size:11px;}
.ap-image-name{
	font-size:11px;
	color:#ffffff;
	margin-top: -22px;
    margin-left: 5px;
    margin-right: auto;
    margin-bottom: auto;
	}
.btn-floating-custom{color: #fff !important;}	
.side-submenu:hover{background-color:#1874B3 !important;color:#ffffff !important;}
.header-search-wrapper {
    margin-left: 34% !important;
}
.header-search-wrapper {
    width: 34% !important;
    height: 40px !important;
}
.search-bar{height: 12px !important;}
.header-icon-color{color:#ffffff !important;}
.search-icon{margin-top: -5px;}
.uni-name-link{padding-top:10px;}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #28AE4B !important; 
	box-shadow: 0 1px 0 0 #28AE4B !important; 
}
@media only screen and (min-width: 992px){
	.tab-padding{padding: 0 0rem !important;}
	}
@media only screen and (min-width: 600px){
	.drop-down-img{width:100px !important;height:100px !important}
	}	

.l1-cust{width:5.5% !important}

@font-face {
  font-family: "untitled-font-6";
  src:url("../fonts/untitled-font-6.eot");
  src:url("../fonts/untitled-font-6.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-6.woff") format("woff"),
    url("../fonts/untitled-font-6.ttf") format("truetype"),
    url("../fonts/untitled-font-6.svg#untitled-font-6") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-6" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-6" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ha-menu-black-icon-01:before {
  content: "\e000";
}
.icon-ha-menu-black-icon-02:before {
  content: "\e001";
}
.icon-ha-menu-black-icon-03:before {
  content: "\e002";
}
.icon-ha-menu-black-icon-04:before {
  content: "\e003";
}
.icon-ha-menu-black-icon-05:before {
  content: "\e004";
}
.icon-ha-menu-black-icon-06:before {
  content: "\e005";
}
.icon-academy-profile-icon-01:before {
  content: "\e006";
}
.icon-academy-profile-icon-02:before {
  content: "\e007";
}
.icon-academy-profile-icon-03:before {
  content: "\e008";
}
.icon-academy-profile-icon-04:before {
  content: "\e009";
}
.icon-academy-profile-icon-05:before {
  content: "\e00a";
}
.icon-academy-profile-icon-06:before {
  content: "\e00b";
}
.icon-admission-form-black-icon-01:before {
  content: "\e00c";
}
.icon-admission-form-black-icon-02:before {
  content: "\e00d";
}
.icon-admission-form-black-icon-03:before {
  content: "\e00e";
}
.icon-admission-form-black-icon-04:before {
  content: "\e00f";
}
