a.LogoMargin {
    font-size: 2.1rem;
    margin-top: 15px;
}

.row .searchform {
    width: 80% !important;
    margin-left: auto !important;
    left: auto !important;
    right: auto !important;
	margin-top: 15%;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0,0,0,0.1);
    height: 65px;
}